.code-block {
  position: relative;
  margin: 1em 0;

  & .code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    font-size: 0.7em;
    border-radius: 7px 7px 0 0;
  }

  & .code-value {
    margin: 0 !important;
    border-radius: 0 0 7px 7px;
    font-size: 0.9em !important;
  }
}


.language {
  font-weight: bold;
}

.copy-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.2em 0.5em;
  cursor: pointer;

  &:hover {
    background-color: #777;
  }
}

.fira-code {
  font-family: 'Fira Code', monospace;
}

p {
  margin-bottom: 1rem;
}
