$btn-size: 40px;

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 26px;
  padding: 0.75rem;
  width: 100%;
  height: calc(100dvh - 2rem);

  & .chat-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
  }
}

.chat-input-container {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 0.75rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.chat-input-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat-input {
  width: 100%;
  min-height: 1rem;
  height: auto;
  max-height: 200px;
  border: none;
  padding: 0;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  transition: border 0.3s ease,
  box-shadow 0.3s ease;
  margin-bottom: calc(#{$btn-size} - 0.5rem);
  background: transparent; // Suppression du background color

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

.welcome-message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;

  p {
    margin: 0;
  }
}

.chat-output {
  flex: 1;
  outline: none;
  padding: 0.25rem;
  border-radius: 10px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: auto;
  height: 700px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }


  .message {
    padding: 0.45rem 0.75rem;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.9);
    width: fit-content;
    max-width: 90%;
    font-size: 0.9rem;

    &.user {
      background: hsla(0, 0%, 92%, .5);
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
      align-self: flex-end;
    }

    &.assistant {
      background: transparent;
      color: rgba(0, 0, 0, 0.9);
      padding-left: 0;
      align-self: flex-start;
    }

    &:last-child {
      margin-bottom: 10rem;
    }
  }

  & > * {
    color: rgba(0, 0, 0, 0.9);
  }

  p {
    transition: all 0.3s ease;
    margin: 0;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  strong {
    font-weight: 800;
    font-style: normal;
  }

  pre {
    border-radius: 10px;
    overflow-x: auto;
  }

  code {
    background: none !important;
    font-family: 'Fira Code', monospace !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', serif;
    font-weight: 600;
    font-style: normal;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  .chat-output {
    height: 75dvh;
  }
}

.send-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: $btn-size;
  height: $btn-size;
  border: none;
  background: rgba(8, 8, 8, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease,
  background 0.2s ease;
  color: #eee;
  padding: 0;

  svg {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
  }

  &:hover {
    background: rgba(8, 8, 8, 0.6);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  $btn-size: 30px;

  .chat-input-container {
    .chat-input {
      max-height: 150px;
      margin-bottom: calc(#{$btn-size} - 0.5rem);
    }

    .send-button {
      width: $btn-size;
      height: $btn-size;
    }
  }
}