$btn-size: 40px;

.chat-input-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 1rem;
  width: calc(100% - 2rem);
  max-width: 500px;
  margin: 0 auto;
}

.chat-input-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat-input {
  width: 100%;
  min-height: 1rem;
  max-height: 200px;
  border: none;
  padding: 0;
  font-size: 16px;
  color: #eee;
  resize: none;
  overflow-y: auto;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;
  margin-bottom: calc(#{$btn-size} + 0.5rem);
  background: transparent; // Suppression du background color

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.send-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: $btn-size;
  height: $btn-size;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background 0.2s ease;
  color: #eee;
  padding: 0;

  svg {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
