.gradient-background-container {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.gradient-canvas-hidden {
  display: none;
}

.gradient-canvas-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(100px) contrast(1.3) brightness(1.2);
  -webkit-filter: blur(100px) contrast(1.3) brightness(1.2);
}
