.glass-card {
  display: flex;
  border-radius: 35px;
  backdrop-filter: blur(50px);
  border: 5px solid;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  aspect-ratio: 1;
  grid-column: span 1;
  grid-row: span 1;

  &.small {
    grid-column: span 1;
    grid-row: span 1;
  }

  &.medium {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: unset;
  }

  &.large {
    grid-column: span 3;
    grid-row: span 1;
    aspect-ratio: unset;
  }

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  }

  &.title {
    padding-top: 3.5rem;
  }

  &__title {
    position: absolute;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    top: 0.5rem;
    left: 0.5rem;

    span {
      font-size: 0.9rem;
      font-weight: 800;
    }
  }
}


@media (max-width: 768px) {
  .glass-card {
    &.medium,
    &.large {
      grid-column: span 2;
      aspect-ratio: unset;
    }

    &.small {
      grid-column: span 1;
      padding: 1rem;
    }
  }
}

